/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
body {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1.1em;
}

a:hover {
    color: #0056b3;
}

/* Button Styles */
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    transition: background-color 0.3s ease;
    color: #fff;
}

button:hover {
    background-color: #ff7f32;
}

/* Form Styles */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1em;
    margin-bottom: 8px;
}

form > div {
    white-space: nowrap;
}

input {
    padding: 8px;
    margin-bottom: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

input[required] {
    border: 2px solid #ff6b6b;
}